## Exploring NYC Public School Test Result Scores

Every year, American high school students take SATs, which are standardized tests intended to measure literacy, numeracy, and writing skills. There are three sections - reading, math, and writing, each with a **maximum score of 800 points**. These tests are extremely important for students and colleges, as they play a pivotal role in the admissions process.

Analyzing the performance of schools is important for a variety of stakeholders, including policy and education professionals, researchers, government, and even parents considering which school their children should attend. 

You have been provided with a dataset called `schools.csv`, which is previewed below.

You have been tasked with answering three key questions about New York City (NYC) public school SAT performance.

In [5]:
import pandas as pd
schools = pd.read_csv('C:\\Users\\lucas\\Downloads\\schools.csv')
schools.head()

,school_name,borough,building_code,average_math,average_reading,average_writing,percent_tested
0,"New Explorations into Science, Technology and ...",Manhattan,M022,657,601,601,NaN
1,Essex Street Academy,Manhattan,M445,395,411,387,78.9
2,Lower Manhattan Arts Academy,Manhattan,M445,418,428,415,65.1
3,High School for Dual Language and Asian Studies,Manhattan,M445,613,453,463,95.9
4,Henry Street School for International Studies,Manhattan,M056,410,406,381,59.7

Which NYC schools have the best math results?

In [6]:
# Filtering best schools according to the rule, slicing columns and sorting values
best_math_schools = schools[schools['average_math']>= (0.8 * 800)] \
                                    .loc[:,['school_name', 'average_math']] \
                                    .sort_values('average_math', ascending=False) \
                                    .reset_index(drop=True)
print(best_math_schools)

                                         school_name  average_math
0                             Stuyvesant High School           754
1                       Bronx High School of Science           714
2                Staten Island Technical High School           711
3  Queens High School for the Sciences at York Co...           701
4  High School for Mathematics, Science, and Engi...           683
5                     Brooklyn Technical High School           682
6                        Townsend Harris High School           680
7  High School of American Studies at Lehman College           669
8  New Explorations into Science, Technology and ...           657
9                      Eleanor Roosevelt High School           641

What are the top 10 performing schools based on the combined SAT scores?

In [7]:
# Adds the values of the columns
schools['total_SAT'] = schools[['average_math', 'average_reading', 'average_writing']].sum(axis=1)
print(schools)

                                           school_name    borough  \
0    New Explorations into Science, Technology and ...  Manhattan
1                                 Essex Street Academy  Manhattan
2                         Lower Manhattan Arts Academy  Manhattan
3      High School for Dual Language and Asian Studies  Manhattan
4        Henry Street School for International Studies  Manhattan
..                                                 ...        ...
370  Queens High School for Information, Research, ...     Queens
371  Rockaway Park High School for Environmental Su...     Queens
372                   Channel View School for Research     Queens
373                    Rockaway Collegiate High School     Queens
374                                  Scholars' Academy     Queens

    building_code  average_math  average_reading  average_writing  \
0            M022           657              601              601
1            M445           395              411              387
2            M445           418              428              415
3            M445           613              453              463
4            M056           410              406              381
..            ...           ...              ...              ...
370          Q465           372              362              352
371          Q410           357              381              376
372          Q410           427              430              423
373          Q410           399              403              405
374          Q180           588              560              568

     percent_tested  total_SAT
0               NaN       1859
1              78.9       1193
2              65.1       1261
3              95.9       1529
4              59.7       1197
..              ...        ...
370            44.6       1086
371            38.5       1114
372            76.6       1280
373            46.5       1207
374            99.2       1716

[375 rows x 8 columns]

In [11]:
# Finding the top 10 schools according to the total_SAT
top_10_schools = schools.loc[:, ['school_name', 'total_SAT']] \
                        .sort_values('total_SAT', ascending=False) \
                        .reset_index(drop=True).head(10)
print(top_10_schools)

                                         school_name  total_SAT
0                             Stuyvesant High School       2144
1                       Bronx High School of Science       2041
2                Staten Island Technical High School       2041
3  High School of American Studies at Lehman College       2013
4                        Townsend Harris High School       1981
5  Queens High School for the Sciences at York Co...       1947
6                     Bard High School Early College       1914
7                     Brooklyn Technical High School       1896
8                      Eleanor Roosevelt High School       1889
9  High School for Mathematics, Science, and Engi...       1889

Which single borough has the largest standard deviation in the combined SAT score?

In [12]:
# Performing multiple aggregations: count, mean and standard deviation
largest_std_dev = schools.groupby('borough').agg( \
                                                num_schools=('school_name', 'count'), \
                                                average_SAT=('total_SAT', 'mean'), \
                                                std_SAT=('total_SAT', 'std')) \
                                                .sort_values('std_SAT', ascending=False).head(1)

# Rounding the columns
largest_std_dev['num_schools'] = largest_std_dev['num_schools'].round(2)
largest_std_dev['average_SAT'] = largest_std_dev['average_SAT'].round(2)
largest_std_dev['std_SAT'] = largest_std_dev['std_SAT'].round(2)

print(largest_std_dev)

           num_schools  average_SAT  std_SAT
borough
Manhattan           89      1340.13   230.29